<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TCPhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96FF8B411DE6CDBF0054A224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FF8B5A1DE6CDBF0054A224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FF8B651DE6CDBF0054A224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
